@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li a,
button {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
}
.link {
  list-style: none;
}
.link li {
  display: inline-block;
  padding: 0px 20px;
}
.link li a {
  transition: all 0.3s ease 0s;
}
.link li a:hover {
  color: #03bd3b;
}
header button {
  padding: 9px;
  background-color: white;
  border: 2.3px #03bd3b solid;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header button:hover {
  background-color: #03bd3b;
  color: white;
}
.container_home {
  margin-top: 150px;
  margin-left: 175px;
}
.text_home {
  width: 600px;
}
.text_home h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.green {
  color: #03bd3b;
}
.text_home p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 400px;
  margin-top: 20px;
}
.button_home {
  margin-top: 20px;
}
.contact button {
  background-color: #03bd3b;
  color: white;
  width: 170px;
  height: 60px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s;
}
.contact button:hover {
  background-color: white;
  color: #03bd3b;
  border: 2px #03bd3b solid;
}
.portfolio {
  display: inline-block;
  text-decoration: none;
}
.portfolio button {
  background-color: white;
  width: 170px;
  height: 60px;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.portfolio button:hover {
  color: #03bd3b;
}
.portfolio img {
  width: 35px;
  margin-left: 5px;
}
.container_home {
  display: flex;
}
.home_img_lomer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_img img {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  margin-left: 150px;
}
.container_client {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.card {
  margin-right: 20px;
  text-align: center;
}
.card h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #03bd3b;
}
.card p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.line {
  width: 4px;
  height: 105px;
  background-color: #03bd3b;
}
.container_me {
  margin-top: 130px;
  margin-left: 175px;
  display: flex;
}
.text_me {
  width: 600px;
  margin-top: 100px;
}
.text_me h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.text_me p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.text_me button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #03bd3b;
  color: white;
  border: 0;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s;
  margin-top: 10px;
}
.text_me button:hover {
  background-color: white;
  color: #03bd3b;
  border: 2px #03bd3b solid;
}
.card_my_quality {
  width: 300px;
  height: 150px;
}
.card_my_quality img {
  width: 50px;
}
.card_my_quality h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.card_my_quality p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}
.card_my_quality_2 {
  margin-left: 300px;
}
.cards_my_quality {
  margin-left: 100px;
}
.container_sites {
  margin-top: 200px;
  margin-left: 175px;
  display: flex;
}
.text_sites {
  width: 600px;
}
.text_sites h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.text_sites p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  width: 400px;
}
.text_sites button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #03bd3b;
  color: white;
  border: 0;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s;
  margin-top: 10px;
}
.text_sites button:hover {
  background-color: white;
  color: #03bd3b;
  border: 2px #03bd3b solid;
}
.img_sites img {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
}
.img_sites {
  display: flex;
}
.container_reviews {
  margin-top: 50px;
  margin-left: 175px;
}
.text_reviews {
  width: 400px;
}
.text_reviews h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.cards_reviews {
  margin-top: 100px;
  display: flex;
}
.card_reviews {
  width: 600px;
  height: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  margin-right: 50px;
}
.star img {
  width: 30px;
}
.star {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
}
.card_reviews p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 470px;
  margin-left: 60px;
  margin-top: 50px;
}
.user_reviews {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
}
.text_user p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #666666;
  margin: 0;
}
.text_user {
  margin-left: 10px;
}
.container_contact {
  margin-top: 100px;
}
.text_contact {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.text_contact h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.text_contact p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.contact_card {
  display: flex;
  margin-bottom: 100px;
}
.contact_card p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  color: #666666;
}
.container_phome {
  display: flex;
}
.contact_card img {
  width: 50px;
}
.data_upper {
  display: flex;
}
.data_upper input {
  width: 380px;
  height: 80px;
  border-radius: 10px;
  border: 0;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 0px 25px 25px 0px;
}
.container_phome {
  margin-top: 100px;
  margin-left: 175px;
}
.Message input {
  width: 790px;
  height: 150px;
  border-radius: 10px;
  border: 0;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}
.container_data {
  margin-left: 100px;
}
.button_contact {
  margin-left: 620px;
  margin-top: 10px;
}
footer {
  height: 100px;
  margin-top: 100px;
}
.line_footer {
  width: 90%;
  height: 3px;
  margin-left: 80px;
  background-color: #000000a1;
}
.text_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.img_footer img {
  width: 50px;
}
.text_footer p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.text_footer span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000a1;
}
